<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>ChefMeUp Flask Backend</title>
</head>

<body>

    <h2>Endpoints</h2>

    <h4>/recipes?q=QUERY</h4>

    <h4>/recipes?q=QUERY&diet=DIET&health=HEALTH&cuisine=CUISINE&meal=MEAL&dish=DISH&time=TIME</h4>

    <h4>/recipe?id=ID&zipcode=ZIPCODE&stores=STORES</h4>
  
    <h4>/grocery?zipcode=ZIPCODE</h4>
 
    <h4>/price?item=ITEM&item=ITEM&item=ITEM&zipcode=ZIPCODE</h4>

    <h4>/item?storeid=STOREID&q=QUERY</h4>

    <h4>/distance?lon1=LON1&lat1=LAT1&lon2=LON2&lat2=LAT2</h4>

    <h4>/address2coord?address=STREET, CITY, STATE</h4>

</body>


</html>